*::selection {
  @extend %p_color;
}

em {
  @extend %a_color;
  font-style: normal;

  display: inline-block;
  line-height: 1;
}

strong {
  color: $s_color;
}

a {
  transition: ease .3s;
  outline: none;

  &:hover {
    color: $p_color !important;
  }
}

ul,
ol {
  margin-left: 2rem;
}

.btn {
  @extend %p_color;

  padding: .3rem 1rem;
  text-decoration: none;
  border: none;
  outline: none;
  transition: ease .3s;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: darken($p_color, 10%);
    color: #fff !important;
  }
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}
